<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %></script>
<% end %>

<main id="root">
  React Broken!
</main>

<footer>
    <div class="footer-div">
      <img src="<%= image_url('picofmeself.jpg') %>" />
      <div>
        <p>
        Hello, my name is Jason; I'm a biochemistry graduate from UCSD turned software engineer. This is my full stack clone of Yelp, UWUelp. In the time since I graduated from UCSD, I've developed an interest in programming, because of my interest in problem solving over rote memorization. In my free time away from programming, I like to watch anime, play basketball, and hang out with friends!
        </p>
      </div>

      <div class="sc-links-div">
        <a href="https://github.com/jasonliao122895"><img id="sc-icon" src="<%= image_url('github.png') %>" alt="">
        </a>
        <a href="https://www.linkedin.com/in/jliao1228/"><img id="linked-icon" src="<%= image_url('linkedin.png') %>" alt=""></a>
      </div>
  
    </div>
</footer> 