.friend-request-item-container {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.friend-request-item {
  display: flex;
  flex-direction: row;
  width: 80%;
}

.friend-request-item img {
  height: 80px;
  width: 80px;
  border-radius: 4px;
  margin-right: 10px;
}

.friend-requester-info p {
  margin-bottom: 0px !important;
}

.friend-requester-info {
  margin-right: 20px;
}

.friend-request-item-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 100px;
}

.friend-request-item-buttons button {
  margin-right: 10px;
  padding: 5px;
  color: #FFF;
  background-color: #D2AA0F;
  border: 1px solid #D2AA0F;
  border-radius: 4px;
  width: 50px;
  cursor: pointer;
}

.send-friend-request-form {
  margin-top: 5px;
}

.send-friend-request-form button {
  padding: 5px;
  background-color: #D2AA0F;
  width: 80px;
  color: black;
  border-radius: 2px;
  border: 1px solid black;
}

.remove-friend-container {
  display: flex;
  flex-direction: column;
  width: 100px;
}

.remove-friend-container button {
  color: black;
  padding: 5px;
  background-color: #D2AA0F;
  border-radius: 2px;
  border: 1px solid black;
}

.remove-friend-container span {
  color: black;
  border-left: 1px solid black;
  padding-left: 5px;
  margin-left: 5px;
}

.remove-friend-container button:first-of-type {
  margin-top: 5px;
}

#remove-friend-button {
  border-top: 1px solid #FFF;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.cancel-friend-but {
  margin-top: 5px;
  padding: 5px;
  background-color: #D2AA0F;
  color: black;
  border-radius: 2px;
  border: 1px solid black;
}