.nav-links-container-flex {
  display: flex;
  width: 100%;
  height: 40px;
  background-color: #fafafa;
  border-top: 1px solid #e6e6e6;
}

.nav-links-main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 15%;
  margin-right: 15%;
  padding-left: 40px;
  width: 900px;
}

.nav-links-main-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.restaurants-nav span {
  color: black;
  font-size: 10px;
}

.nav-links-main button {
  padding: 5px;
  width: 152px;
  height: 40px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  border-right: 0px;
  background-color: #fafafa;
  font-size: 13px;
  color: black;
}

.nav-links-main button:hover {
  color: #0073bb;
}

#restaurant-nav-menu a:hover {
  color: #0073bb;
}

.last-button button {
  border-right: 1px solid #e6e6e6;
}

#restaurant-nav-menu {
  position: absolute;
  z-index: 2;
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
}

#restaurant-nav-menu ul {
  list-style: none;
  width: 130px;
}

#restaurant-nav-menu a {
  color: black;
  font-size: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.restaurants-nav {
  margin-left: 10px;
}