.test-carousel img {
  width: 25%;
  height: 300px;
  object-fit: cover;
}


.test-carousel {
  padding: 0px;
  margin: 0px;
  width: 100%;
  box-sizing: border-box;
}

.carousel-container {
  display: flex;
  justify-content: space-evenly;
  width: 100;
  height: 300px;
  margin: auto;
  overflow: hidden;
  box-sizing: border-box;
}

.carousel-slide {
  display: flex;
  justify-content: space-between;
  width: 100%
}

#prev, #next {
  border: none;
  padding: 20px;
  position: absolute;
  background-color: transparent;
  font-size: 30px;
  color: rgb(37, 36, 48);
}

#prev:hover, #next:hover {
  color: rgb(92, 84, 84);
}


#next {
  right: 0px;
  top: 200px;
}

@media only screen and (max-width: 900px) {
  #next {
    display: none;
  }
}

#prev {
  top: 200px;
}





