 html, body, footer {
   padding: 0;
   margin: 0;
 }


 .home-content {
  position: absolute;
  top: 0;
  z-index: 9999;
  width: 100%;
  background-size: cover;
 }

 .home-content header {
   display: flex;
   justify-content: space-around;
   padding: 20px;
   align-items: center;
 }

 .home-content header a, .home-content header button {
   text-decoration: none;
   padding: 10px;
   font-weight: 1000;
   font-size: 17px;
   background-color: transparent;
   border: none;
   color: rgb(38, 37, 46);
   font-family: 'IBM Plex Sans', sans-serif;
   text-shadow: 1px 1px 0 #FFF,
   1px -1px 0 #FFF,
   -1px 1px 0 #fff,
   -1px -1px 0 #fff;
   
 }

 .welcome-msg {
   display: flex;
   flex-direction: row;
   align-items: center;
   
 }

 .welcome-msg h4 {
   color: rgb(38,37,46);
   font-size: 17px;
   font-weight: 900;
   text-shadow: 1px 1px 0 #FFF,
   1px -1px 0 #FFF,
   -1px 1px 0 #fff,
   -1px -1px 0 #fff;
   
 }

 #signup-but, #logout-but {
   border: 2px solid rgb(38,37,46);
   border-radius: 4px;
   padding: 7px 24px 8px;
   margin-left: 15px;
   height: 35px;
   
 }

 #signup-but:hover, #logout-but:hover {
   background-color: #999;
   
 }

 #home-links button:hover, a:hover {
 
  border-bottom: 4px solid #fff; 
  margin-bottom: -4px;
  cursor: pointer;

 }

 .social-links:hover {
   border-bottom: 4px solid #FFF !important;
   margin-bottom: -4px !important;
   cursor: pointer;
 }
 
 .splash-logo {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   margin-top: 100px;
 }

 .splash-logo a {
   text-decoration: none;
   padding-bottom: 6px;
 }

 .splash-logo h1 {
   font-size: 50px;
 }

 .splash-logo h3 {
  font-size: 20px;
 }


 .splash-search {
   margin-top: 20px;
   height: 100px;
   min-width: 625px;
   display: flex;
   justify-content: center;
 }

 .splash-search label {
   background-color: #FFFF;
   height: 36px;
   padding-left: 10px;
   font-family: 'IBM Plex Sans', sans-serif;
 }

 .splash-search input {
  width: 240px;
  height: 20  px;
  border: none;
  outline: none;
  margin-left: 10px;
  font-size: 14px;
 }



#nav-find {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.category-links {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.category-links a {
  color: #FFF;
  font-weight: 700;
  text-shadow: 1px 1px 0 black,
  1px -1px 0 black,
  -1px -1px 0 black,
  -1px 1px 0 black;
}

.phone-welcome-msg {
  display: none;
}


@media only screen 
  and (min-device-width: 375px)
  and (max-device-width: 667px) {
 
  header a {
    border-color: #FFF !important;
    margin-top: 20px !important;
    font-size: 50px !important;
    text-shadow: none !important;
    color: white !important;
    border: none !important;
  }

  .splash-logo {
    margin-top: 30px;
  }

  .splash-logo h3 {
    font-size: 40px;
  }

  .splash-logo h1 {
    font-size: 90px;
  }


  .splash-logo a {
    font-size: 40px ;
    width: 50% ;
    text-align: center;
  }

  .search-bar-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }

  #nav-find, #nav-near {
    width: 80%;
    font-size: 30px;
    margin-bottom: 10px;
  }

  #nav-find input, #nav-near input {
    height: 100%;
    width: 80%;
    font-size: 30px;
  }

  .nav-search-but {
    width: 81%;
    height: 60px;
    font-size: 30px;
  }

  .category-links {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
  }

  .search-result-container {
    display: none;
  }

  .welcome-msg {
    display: none;
  }
  
  .phone-welcome-msg {
    display: inline;
  }
}



 