 /* Business Index List */

  .business-index-main ol {
    width: 630px;
  }

  .business-index-main {
    display: flex;
    justify-content: flex-start;
    width: 900px;
    margin: 0, auto;
  }

  .business-index-main-flex {
    display: flex;
    justify-content: center;
  }

    /* Business Index Item */




.business-list-item {
  display: flex;
  flex-direction: row;  
  padding: 20px 0px 20px 0px;
  border-bottom: 1px solid #e6e6e6;
}

.business-list-item li {
  list-style-position: inside;
}

.business-list-item img {
  height: 190px;
  width: 190px;
}

.business-info {
  display: flex;
  justify-content: space-between;
}

.all-business-info {
  padding-left: 30px;
}

.phone-location span {
  color: black;
  font-size: 16px;
  margin: 5px 0px 5px 0px;
}

.phone-location p {
  margin: 0;
}

.phone-location {
  text-align: right;
}

.name-rating {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 210px;
}

.name-rating > div {
  width: 210px;
  display: flex;
  flex-wrap: wrap;
}

.name-rating span {
  font-size: 16px;
  padding-top: 5px;
  margin-left: 5px;
}

.name-rating h4, .name-rating p {
  margin: 0px;
  margin-top: 5px;
}

#index-avg-rating {
  width: 132px;
  height: 30px;
}
