
 /* Map Size */
 #map-container {
   width: 250px;
   height: 250px;
 }

 .map-div span {
   font-size: 10px;
 }

 .map-div {
   margin-left: 30px;
   height: 320px;
   position: sticky;
   top: 105px;
 }

 /* Map Filter */

 .hide {
  display: none;
 }

 #filt-but, #unfilt-but {
   border: 1px solid rgb(210, 170, 15);
   border-radius: 5px;
   margin-right: 5px;
   padding: 4px;
   background-color: rgb(37, 36,48);
   color: rgb(210, 170, 15);
 }

//  map show

#show-map {
  height: 200px;
  width: 200px;
}