.nav-bar {
   width: 100%;
   height: 90px;
   background-color: rgb(37, 36,48);
   display: flex;
   justify-content: center;
   align-items: center;
  }

 .nav-bar a {
   text-decoration: none;
  }

 .nav-bar h3 {
   font-size: 20px;
   text-align: left;
   transform: rotate(-45deg);
   color: rgb(210, 170, 15);
   text-shadow: 2px 2px 0 #FFF,
   -2px 2px 0 #FFF,
   -2px -2px 0 #FFF,
   2px -2px 0 #FFF;
   margin: 0;
 }

 .nav-bar h1 {
   font-size: 45px;
   font-family: 'Ubuntu', sans-serif;
   color: black;
   text-shadow: 3px 3px 0 #FFF,
   -3px 3px 0 #FFF,
   3px -3px 0 #FFF,
   -3px -3px 0 #FFF;
   margin: 0px 0px 0px 30px;
  }

 
 .nav-signup {
  background-color: #FFFF;
  padding: 12px;
  border-radius: 3px;
  font-weight: 700;
  border: transparent; 
  height: 37px; 
 }

 .nav-bar label {
   background-color: #FFFF;
   height: 36px;
   display: flex;
   align-items: center;
   margin-bottom: 0;
   font-weight: bold;
   padding-left: 10px;
   width: 326px;
   font-family: 'Ubuntu', sans-serif;
 }

 .nav-find {
   margin-left: 20px;
 }

 .nav-find input {
   border: none;
   border-right: 0.5px solid gray;
   width: 100%;
   outline: none;

 }

 .nav-near input {
   border: none;
   width: 100%;
   outline: none;
 }

 .nav-login {
  background-color: rgb(37, 36,48);
  padding: 12px;
  border-radius: 3px;
  font-weight: 700;
  color: #FFF;
  border: 1px solid #FFF;
  margin-right: 10px;
  margin-left: 20px;
  height: 37px;
 }

 .nav-search-but {
  background-color:rgb(190, 165, 61);
  padding: 6px 12px;
  border: none;
  border-radius: 0 4px 4px 0;
  height: 36px;
 }

 .profile-option {
   display: flex;
   flex-direction: row;
 }

 .profile-option img {
  width: 36px;
  height: 36px;
  margin-left: 20px;
 }

 .profile-option span {
   font-size: 14px;
   padding-left: 10px;
   padding-top: 10px;
   padding-right: 10px;
   border-radius: 0 4px 4px 0;
   background-color: rgb(210, 170, 15);
   color: rgb(37, 36,48);
 }

 #profile-menu {
   position: absolute;
   margin-left: 56px;
   top: 70px;
   width: 200px;
   height: 250px;
   background-color: #FFF;
   z-index: 3;
   border: 1px solid rgb(37, 36,48);
 }


 #profile-menu::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 5%;
  margin-left: -5px;
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent #FFF transparent;
 }

 .profile-list {
   list-style: none;
   margin: 0 20px 15px 10px;
   padding: 0px;
   border-top: 1px solid #e6e6e6;
   border-bottom: 1px solid #e6e6e6;
 }



 .profile-list li {
   padding-bottom: 10px;
   padding-top: 10px;
   padding-left: 10px; 
 }


 #logout-link {
   margin: 20px;
 }