.nav-bar {
   width: 100%;
   height: 90px;
   background-color: rgb(37, 36,48);
   display: flex;
   justify-content: center;
   align-items: center;
  }

 .nav-bar a {
   text-decoration: none;
  }

 .logo h3 {
   font-size: 20px;
   text-align: left;
   transform: rotate(-45deg);
   color: rgb(210, 170, 15);
   text-shadow: 2px 2px 0 #FFF,
   -2px 2px 0 #FFF,
   -2px -2px 0 #FFF,
   2px -2px 0 #FFF;
   margin: 0;
 }

 .logo h1 {
   font-size: 45px;
   font-family: 'Ubuntu', sans-serif;
   color: black;
   text-shadow: 3px 3px 0 #FFF,
   -3px 3px 0 #FFF,
   3px -3px 0 #FFF,
   -3px -3px 0 #FFF;
   margin: 0px 0px 0px 30px;
  }

 
 .nav-signup {
  background-color: #FFFF;
  padding: 12px;
  border-radius: 3px;
  font-weight: 700;
  border: transparent; 
  height: 37px; 
 }


 .profile-option {
   display: flex;
   flex-direction: row;
 }

 .profile-option img {
  width: 36px;
  height: 36px;
  margin-left: 20px;
 }

 .profile-option span {
   font-size: 14px;
   padding-left: 10px;
   padding-top: 10px;
   padding-right: 10px;
   border-radius: 0 4px 4px 0;
   background-color: rgb(210, 170, 15);
   color: rgb(37, 36,48);
 }

 #profile-menu {
   position: absolute;
   top: 70px;
   width: 158px;
   height: 250px;
   background-color: #FFF;
   z-index: 3;
   border: 1px solid rgb(37, 36,48);
 }

#profile-infos {
  width: 155px;
  display: flex;
  flex-direction: row;
  padding: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
}

#profile-infos img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

#profile-infos h4, p {
 
  // width: 80px;
  font-size: 13px;
}



 #profile-menu::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 25%;
  margin-left: -5px;
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent #FFF transparent;
 }

 .profile-list {
   list-style: none;
   margin: 0 20px 15px 10px;
   padding: 0px;
   border-top: 1px solid #e6e6e6;
   border-bottom: 1px solid #e6e6e6;
 }



 .profile-list li {
   padding-bottom: 10px;
   padding-top: 10px;
   padding-left: 10px; 
 }


 #logout-link {
   margin: 20px;
 }

 .nav-search-bar {
   display: flex;
   flex-direction: row;
   height: 40px;
   margin-left: 10px;
   margin-right: 10px;
 }

 .nav-search-bar a {
   display: none;
 }

//  .nav-search-bar form {
//    height: 40px;
//  }

 .nav-search-bar label {
   background-color: #FFF;
   padding-left: 10px;
   height: 40px;
   font-family: 'Ubuntu', sans-serif;
 }

 .nav-search-bar input {
   border: none;
   outline: none;
   height: 25px;
   font-size: 14px;
   margin-left: 10px;
   width: 242px;
 }

 .nav-search-but {
   background-color: rgb(210, 170, 15);
   height: 40px;
   color: #FFF;
   font-size: 14px;
   border: none;
   padding: 10px;
   border-bottom-right-radius: 3px;
   border-top-right-radius: 3px;
 }




 #nav-near, #nav-find {
  padding-top: 10px;
  padding-bottom: 12px;
  width: 50px;
}

#nav-find input {
  border-right: 1px solid #e6e6e6;
}

.nav-login {
  color: #FFF;
  font-size: 13px;
  font-weight: 700;
  margin-right: 10px;
  background-color: rgb(37, 36,48);
  padding: 10px;
  border-radius: 3px;
}

.nav-signup {
  color: rgb(37, 36,48);
  background-color: #FFF;
  font-size: 13px;
  font-weight: 700px;
  padding: 10px;
  border-radius: 3px;
}