.session-form header {
  background-color: rgb(37, 36,48);
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  font-family: 'Ubuntu', sans-serif;
 }

 .session-form h1 {
   font-size: 45px;
   font-family: 'Ubuntu', sans-serif;
   color: black;
   text-shadow: 3px 3px 0 #FFF,
   -3px 3px 0 #FFF,
   3px -3px 0 #FFF,
   -3px -3px 0 #FFF;
   margin: 0px 0px 0px 30px;
 }

 .session-form h3 {
  font-size: 20px;
   text-align: left;
   transform: rotate(-45deg);
   color: rgb(218, 170, 15);  
   text-shadow: 2px 2px 0 #FFF,
   -2px 2px 0 #FFF,
   -2px -2px 0 #FFF,
   2px -2px 0 #FFF;
   margin: 0;
 }

 .session-form a {
   text-decoration: none;
 }

 .session-main-content {
   display: flex;
   height: 600px;
   justify-content: center;
   align-items: flex-start;
   margin: 80px 170px 80px 170px;
   padding: 15px 15px 36px 15px;
 }

 .session-main-content a {
   color: #0073BB;
   text-decoration: none;
 }

 #demo {
   width: 320px;
   padding: 8px 19px 9px;
   background-color: #3b5998;
   border: 1px solid #3b5998;
   border-radius: 3px;
   color: #ffff;
   font-weight: bold;
   font-size: 13.5px;
   cursor: pointer;
   margin-bottom: 20px;
 }

 .session-main-content a:hover {
   text-decoration: underline;
 }

 .actual-session-form {
   width: 320px;
 }

 .actual-session-form p {
  
  margin: 0;
  color: red;
  position: absolute;
 }

 .actual-session-form a {
   font-size: 13px;
 }

 

 .session-inputs {
   width: 320px;
   display: flex; 
   flex-direction: column;
   align-items: center;
   justify-content: center;
   
   font-family: 'Ubuntu', sans-serif;
 }

 .session-inputs h2 {
   width: 100%;
   text-align: center;
   color: rgb(37, 36,48);
   margin-bottom: 20px;
 }
 
 .session-inputs p {
   width: 320px;
   text-align: center;
   font-size: 13px;
 }

 .session-inputs a {
   font-size: 13px;
 }

 .toa {
   margin-bottom: 20px;
 }

 #or-field {
  //  margin-top: 15px;
  //  margin-bottom: 15px;
   border: none;
   border-top: 1px solid #ccc;
   text-align: center;
   width: 300px;
 }

 #or-field legend {
   font-size: 13px;
   color: #999;
   padding: 0 15px;
 }

 .session-inputs input, label, select {
   padding:  5px 9px;
   margin-bottom: 0px;
 }

 .session-inputs input {
   border: 1px solid #999;
   border-radius: 3px;
   background-color: #fff;
 }

 #first_name, #last_name {
  width: 137px;
 }

 #last_name {
   margin-left: 6px;
 }

 #name-div {
   display: flex;
   flex-direction: row;
   width: 300px;
   text-align: center
 }

 #name-div div, #name-div p {
   width: 156px;
   margin: 0;
 } 


 #email, #pass, #zip {
   width: 300px;
 }

 #new-to-uwuelp {
   font-weight: 600;
   font-size: 15px;
 }

 
 label {
   padding: 0px;
   margin-bottom: 9px;
  }
  
  span {
    font-size: 11px;
    color: #999;
  }
  
  .selects {
    display: flex;
    justify-content: space-between;
    width: 320px;
  }
  
 .selects select {
  width: 100px;
  height: 30px;
  margin-top: 9px;
 }



 .session-image {
   align-self: flex-start;
   padding-left: 30px;
   margin-left: 70px;
 }

 #forgot-pass {
   display: flex;
   justify-content: flex-end;
 }

 #session-description {
   text-align: left;
   color: black;
   position: static;
   width: 320px;
   padding-top: 10px;
 }

 #session-button {
   width: 320px;
   height: 43px;
   margin-top: 10px;
   text-align: center;
   background-color: rgb(37, 36,48);
   border: 1px solid rgb(37, 36,48);
   cursor: pointer;
   border-radius: 3px;
   color: #FFFF;
   font-size: 15px;
   font-family: 'Ubuntu', sans-serif;
   font-weight: bolder;
 }

 .sign-link-session {
   margin-top: 15px;
   width: 320px;
   display: flex;
   justify-content: flex-end;
 }

 .sign-link-session p {
   color: #999;
   font-size: 12px;
   text-align: right;
   margin-right: 10px;
   width: 200px
  
 }

 .sign-link-session a {
  font-size: 13px;
 }

 #sess-head:hover {
  border-bottom: none;
  margin-bottom: 1px;
 }


