.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.rating input {
  display: none;
}

.rating label {
  display: block;
  cursor: pointer;
  color: white;
  padding: 5px;
  background-color: #666;
  border-radius: 3px;
  margin-right: 5px;
}

.star5:checked~label {
  background-color: #dd050b;
}

.star4:checked~label {
  background-color: #f26a2c;
}


.star3:checked~label {
  background-color: #f0991e;
}

.star2:checked~label {
  background-color: #dcb228;
}


.star1:checked~label {
  background-color: #cc8b1f;
}

.star1:hover~label {
  background-color: #cc8b1f;
}

.star2:hover~label {
  background-color: #dcb228;
}

.star3:hover~label {
  background-color: #f0991e;
}

.star4:hover~label {
  background-color: #f26a2c;
}



.star5:hover~label {
  background-color: #dd050b;
}


// .rating {
//   position: absolute;
//   left: 35%;
//   top: 25%;
//   transform: translate(-50%, -50%) rotateY(180deg);
//   display: flex;
//   width: 200px;
//   justify-content: center;
// }

// .rating input {
//   display: none;
// }

// .rating label {
//   display: block;
//   cursor: pointer;
//   font-size: 20px;
//   color: white;
//   padding: 5px;
//   margin-left: 5px;
//   border-radius: 3px;
//   background: #666;
//   text-align: center;
// }

// .rating label:before {
//   content: '\f005';
//   font-family: fontAwesome;
//   position: relative;
//   display: block;
//   font-size: 20px;
// }

// .rating label:after {
//   content: "\f005";
//   font-family: fontAwesome;
//   color: white;
//   font-size: 20px;
//   padding: 5px;
//   border-radius: 3px;
//   // margin-right: 5px;
//   margin-left: -5px;
//   position: absolute;
//   top: 0;
//   opacity: 0;
//   // width: 25px;
//   // height: 25px;
//   display: block;
//   // background-color: orange;
//   background-color: #666;
// }

// // .rating label:hover:after,
// // .rating label:hover ~ label:after,
// // .rating input:checked ~ label:after {
// //   opacity: 1;
// // }


// .star5:checked ~ label:after {
//   opacity: 1;
//   background-color: #dd050b;
// }

// .star4:checked ~ label:after {
//   opacity: 1;
//   background-color: #f26a2c;
// }

// .star3:checked ~ label:after {
//   opacity: 1;
//   background-color: #f0991e;
// }

// .star2:checked ~ label:after {
//   opacity: 1;
//   background-color: #dcb228;
// }

// .star1:checked ~ label:after {
//   opacity: 1;
//   background-color: #cc8b1f;
// }


// #lstar5:hover:after,
// #lstar5:hover ~ label:after {
//   opacity: 1;
//   background-color: #dd050b;
// }

// #lstar4:hover:after,
// #lstar4:hover ~ label:after {
//   opacity: 1;
//   background-color: #f26a2c;
// }

// #lstar3:hover:after,
// #lstar3:hover ~ label:after {
//   opacity: 1;
//   background-color: #f0991e;
// }

// #lstar2:hover:after,
// #lstar2:hover ~ label:after {
//   opacity: 1;
//   background-color: #dcb228;
// }

// #lstar1:hover:after,
// #lstar1:hover ~ label:after {
//   opacity: 1;
//   background-color: #cc8b1f;
// }