.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.rating input {
  display: none;
}

.rating label {
  display: block;
  cursor: pointer;
  color: white;
  padding: 5px;
  background-color: #666;
  border-radius: 3px;
  margin-right: 5px;
}

.star5:checked~label {
  background-color: #dd050b;
}

.star4:checked~label {
  background-color: #f26a2c;
}


.star3:checked~label {
  background-color: #f0991e;
}

.star2:checked~label {
  background-color: #dcb228;
}


.star1:checked~label {
  background-color: #cc8b1f;
}

.star1:hover~label {
  background-color: #cc8b1f;
}

.star2:hover~label {
  background-color: #dcb228;
}

.star3:hover~label {
  background-color: #f0991e;
}

.star4:hover~label {
  background-color: #f26a2c;
}



.star5:hover~label {
  background-color: #dd050b;
}

