.user-information {
  display: flex;
  justify-content: flex-end;
}
.current-user-modification-links {
  width: 232px;
  height: 147px;
}

.not-current-user-modification-links {
  width: 232px;
  height: 147px;
}