.user-information {
  display: flex;
  justify-content: flex-end;
  background-color: #f5f5f5;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding-top: 9px;
  padding-bottom: 24px;
}

.user-information img {
  border-radius: 4px;
  position: absolute;
  left: 10%;
  top: 160px;
  width: 182px;
  height: 182px;
}

.user-basic-info-container {
  display: flex;
  flex-direction: row;
  width: 70%;
}

.user-basic-info {
  margin-right: 30px;
  margin-left: 30px;
  padding-top: 50px;
  width: 50%;
}



.current-user-modification-links {
  width: 232px;
  height: 147px;
  margin-top: 50px;
  border-left: 1px solid #e6e6e6;
  padding-left: 20px;
  color: #0073BB;
}

.current-user-modification-links p {
  font-size: 14px;
  margin-bottom: 8px;
  cursor: pointer;
}

.not-current-user-modification-links {
  width: 232px;
  height: 147px;
}

.user-reviews-and-friends {
  display: flex;
  flex-direction: row;
}
.user-reviews-and-friends p {
  margin-right: 15px;
}

.main-content-container {
  margin-top: 9px;
  display: flex;
  flex-direction: row;
  margin-left: 6%;
}

.users-profiles-links {
  width: 300px;
}
.users-profiles-links ul {
  padding-top: 10px;
  padding-right: 40px;
  height: 800px;
  list-style: none;
}
.users-profiles-links li {
  padding-top: 12px;
  padding-bottom: 12px;
  border-top: 1px solid #e6e6e6;
}

.users-profiles-links li:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.main-content-user-profile {
  width: 33%;
}

.user-stats {
  width: 33%;
}