.review-form-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  background-color: rgb(37, 36,48);
}

.review-form-nav {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.review-form-header a {
  text-decoration: none;
}

.review-form-header h2 {
  color: #fff;
  font-size: 20px;
  padding-left: 20px;
  width: 60%;
}

.review-form-header h3 {
   font-size: 20px;
   text-align: left;
   transform: rotate(-45deg);
   color: rgb(210, 170, 15);
   text-shadow: 2px 2px 0 #FFF,
   -2px 2px 0 #FFF,
   -2px -2px 0 #FFF,
   2px -2px 0 #FFF;
   margin: 0;
 }

 .review-form-header h1 {
   font-size: 45px;
   font-family: 'IBM Plex Sans', sans-serif;
   color: black;
   text-shadow: 3px 3px 0 #FFF,
   -3px 3px 0 #FFF,
   3px -3px 0 #FFF,
   -3px -3px 0 #FFF;
   margin: 0px 0px 0px 30px;
  }

  .review-form {
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 900px;
  }

  .review-form h1 {
    padding-top: 24px;
    padding-bottom: 12px;
  }

  .review-form a {
    text-decoration: none;
  }

  .review-form a:hover {
    text-decoration: underline;
  }

  .review-form-container {
    width: 625px;
    height: 384px;
    padding: 18px;
    border: 1px solid #ccc;
  }

  .review-form-container textarea {
    border: none;
    outline: none;
    padding-top: 10px;
    width: 587px;
    height: 300px;
    font-size: 18px;
  }

  .review-form button {
    margin-top: 20px;
    padding: 10px 13px;
    width: 240px;
    height: 48px;
    color: #fff;
    font-size: 16px;
    border-radius: 3px;
    background-color: rgb(37, 36,48);
  }

  .review-errors {
    color: red;
    list-style: none;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 12px;
    justify-self: flex-end;
  }

  .empty-div-review {
    position: absolute;
  }

  .empty-div-review-container {
    display: flex;
    align-items: center;
  }


